<div class="position-relative overflow-hidden p-2 p-md-8 m-md-2 text-center bg-dark">
  <div class="col-md-8 p-lg-8 mx-auto my-8">
    <h1 class="display-4 font-weight-normal">TRAFFIC 4.0</h1>
    <p class="lead font-weight-normal">
      Nur was haben wir uns ausgedacht?<br>
      Wir haben einen kostengünstigen Sensor entwickelt, der an jeder Ampel in Stadt angebracht werden kann.<br>
      Dazu haben wir softwareseitige Algorithmen entwickelt, die mithilfe von künstlicher Intelligenz die Ampelschaltungen übernehmen können.<br>
      Sie messen das Verkehrsaufkommen und werden dementsprechend angepasst.<br>
      Zudem kommunizieren die Sensoren untereinander mit einem gesicherten Wireless-WAN Standardprotokoll.<br>
      Dadurch werden Wartezeiten verringert, Staus vermieden und die Umwelt entlastet.<br>
      <small>
      Auch eine Verfolgung eines Notfallfahrzeugs (Feuerwehrfahrzeug, Polizeifahrzeug, Krankenwagen, etc.)
      anhand eines zuvor eingerichteten Senders (LoRaWAN + GPS) ist möglich,
      sodass eine “Grüne Welle” für den Weg vorbereitet werden kann.
      </small>
    </p>
    <a class="btn btn-outline-secondary" href="mailto:team@4traffic.de">Kontaktiere uns gerne!</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" id="firstContainer">
    <div class="col-md-12  flex-center-vertically overflow-hidden" id="greenPic">
        <h3>Vorteile</h3>
        <h5>Mobilitätsverbesserung</h5>
        <h5>CO<small>2</small>-Einsparung</h5>
        <h5>Lärmminderung</h5>
        <h5>Sicherheit</h5>
        <h5>Smart Connections</h5>
    </div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" id="secondContainer">
    <div class="col-md-8  flex-center-vertically overflow-hidden">
      <img src="assets/images/opnv.jpg" class="walletPic">
    </div>
    <div class="col-md-4  flex-center-vertically overflow-hidden" style="color: white">
      <h3>Wartezeitverbesserung*</h3>
      <h4>ÖPNV <b>80%</b></h4>
      <h4>PKW <b>38%</b></h4>
      <h4>Fahrrad <b>33%</b></h4>
      <h4>Fußgänger <b>38%</b></h4>
      <br><br>
      *Optimierung durch Machine Learning möglich!
    </div>
  </div>
</div>
